name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Setup repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: 20.11.1

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run unit tests
        run: npm run test

      - name: Uploading coverage file to Codecov
        if: github.repository == 'mauroalderete/action-assign-labels'
        uses: codecov/codecov-action@v4
        with:
          name: codecov-umbrella
          fail_ci_if_error: true
          flags: unittests
          verbose: true
